<style lang="scss" scoped>
$active-color: #2196f3;
$muted-color: #9e9e9e;
$error-color: #f44336;

div {
  position: relative;
  margin: 20px 0 0 0;
}
textarea {
  resize: none;
}

input,
textarea {
  color: $muted-color;
  background: none;
  width: 90%;
  font-size: 16px;
  padding: 5px 5px 5px 5px;
  display: block;
  border: none;
  border-radius: 0;
  border-bottom: 1px solid $muted-color;
  &:focus {
    outline: none;
    border-bottom: 1px solid $active-color;
  }
  &:focus ~ label {
    color: $active-color;
  }
  &.error ~ label {
    color: $error-color;
  }
}

label {
  color: $muted-color;

  top: -14px;
  font-size: 12px;
  font-weight: normal;
  position: absolute;
  pointer-events: none;
  left: 5px;
  transition: 320ms ease all;
}

.error-message {
  font-size: 12px;
  color: $error-color;
}
</style>
<template>
  <validation-provider
    :rules="{ required: required === true, email: type === 'email' }"
    v-slot="{ errors }"
  >
    <div>
      <input :type="type" :ref="name" :value="value" @input="updateValue()" />
      <label>{{ label }}</label>
      <span class="error-message"> {{ errors[0] }}</span>
    </div>
  </validation-provider>
</template>
<script>
import { ValidationProvider, extend } from "vee-validate";
import { required, email } from "vee-validate/dist/rules";

extend("required", {
  ...required,
  message: "Campo obrigatório."
});
extend("email", {
  ...email,
  message: "E-mail inválido."
});
export default {
  name: "BsInput",
  props: ["value", "name", "type", "label", "required"],
  components: {
    ValidationProvider
  },
  methods: {
    updateValue() {
      this.$emit("input", this.$refs[this.name].value);
    }
  }
};
</script>
