<style lang="scss" scoped>
.videocard {
  width: 280px;
  height: 240px;
  padding: 10px;
  .videoframe {
    border: 1px solid #9e9e9e;
    height: 160px;
    align-items: center;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    cursor: pointer;
  }

  .video-title {
    height: 80px;
    padding: 10px;
    .video-length {
      font-size: 12px;
      color: #9e9e9e;
    }
  }
}
</style>
<template>
  <div class="videocard">
    <div class="videoframe" @click="handleClick">
      <img v-if="video" :src="video.thumbnail" />
      <div>
        <bs-video-loader v-if="true"></bs-video-loader>
      </div>
    </div>
    <div class="video-title">
      <span>alo</span>
      <span class="video-length">alo</span>
    </div>
  </div>
</template>
<script>
import BsVideoLoader from "./BsVideoLoader.vue";
export default {
  name: "BsVideoframe",
  props: ["video", "loading"],
  components: {
    BsVideoLoader
  },
  methods: {
    handleClick() {
      this.$emit("videoClick", this.video);
    }
  }
};
</script>
