<style lang="less">
.video-grid {
  display: flex;
  flex-wrap: wrap;
}
.main-header {
  width: 100%;
  background: white;
  box-shadow: 1px 1px #9e9e9e;
  padding: 10px;
  z-index: 2;
  display: flex;
  .icon-section {
    position: absolute;
    right: 10px;
    color: #9e9e9e;
    i:hover {
      opacity: 0.8;
      cursor: pointer;
    }
  }
}
</style>
<template>
  <div>
    <div class="main-header">
      <img src="../../assets/logo.png" />
      <div class="icon-section">
        <i class="material-icons" @click="handleLogout">exit_to_app</i>
      </div>
    </div>
    <bs-button text="Adicionar vídeo" type="add" />
    <div class="video-grid">
      <bs-videoframe :key="index" v-for="(item, index) in initialArray">
        oi
      </bs-videoframe>
    </div>
  </div>
</template>
<script>
import localforage from "localforage";
import axios from "axios";
import BsVideoframe from "../../components/BsVideoFrame.vue";
import BsButton from "../../components/BsButton.vue";
export default {
  name: "HomePage",
  async beforeRouteEnter(to, from, next) {
    if (await localforage.getItem("token")) next();
    else next("/");
  },
  async created() {
    const responseMovies = await axios.get("/movie");
    console.log("tei", responseMovies);
  },
  components: {
    BsVideoframe,
    BsButton
  },
  data() {
    return {
      initialArray: ["0", "1", "2", "3", "4", "5", "6", "7", "8", "9", "10"],
      loading: true
    };
  },
  methods: {
    async handleLogout() {
      delete axios.defaults.headers.common["Authorization"];
      await localforage.removeItem("token");
      this.$router.push("/");
    }
  }
};
</script>
