<style lang="less">

    html {
        overflow: auto;
        background: #eee;
        width: 100%;
        height: 100%;
        font-family: 'Roboto', sans-serif;
    }
    body {
      margin: 0;
    }
</style>
<template>
    <div id="container">    
        <router-view></router-view>
    </div>
</template>
<script>
import localforage from 'localforage'
import axios from 'axios'
  export default {
    name: 'App',
    async created() {
      const token = await localforage.getItem('token')
      if(token) {   
          axios.defaults.headers.common['Authorization'] = 'Bearer ' + token;
      }
    }
  }
</script>