<style lang="less">
.login-container {
  align-items: center;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
  padding: 20px;
  .header {
    height: 50px;
    text-align: center;
    padding: 10px;
  }
  .form {
    background: #fff;
    padding: 20px;
    width: 80%;
    display: flex;
    flex-direction: column;

    box-shadow: 0 1px 4px rgba(0, 0, 0, 0.6);
    @media screen and (min-width: 768px) {
      width: 300px;
    }
  }
  a {
    font-size: 12px;
    color: #9e9e9e;
    cursor: pointer;
  }
}
</style>
<template>
  <div class="login-container">
    <div class="form">
      <div class="header">
        <img src="../../assets/logo.png" />
      </div>

      <validation-observer v-if="activeTab === 'login'" v-slot="{ invalid }">
        <form>
          <bs-input
            label="E-mail"
            type="email"
            name="loginEmail"
            v-model="login.email"
          />
          <bs-input
            label="Senha"
            type="password"
            name="loginPassword"
            v-model="login.password"
          />
          <a @click="activeTab = 'singup'">Não possui conta? Cadastre-se</a>
          <bs-button
            text="Login"
            @click="handleLogin()"
            :loading="loading"
            :disabled="invalid"
          />
        </form>
      </validation-observer>

      <validation-observer v-else v-slot="{ invalid }">
        <form @submit.prevent="handleSignup">
          <bs-input
            label="Nome"
            type="text"
            name="newAccountName"
            v-model="newAccount.name"
            :required="true"
          />
          <bs-input
            label="E-mail"
            type="email"
            name="newAccountEmail"
            v-model="newAccount.email"
            :required="true"
          />
          <bs-input
            label="Senha"
            type="password"
            name="newAccountPassword"
            v-model="newAccount.password"
            :required="true"
          />
          <bs-input
            label="Confirmar senha"
            type="password"
            name="PasswordConfirmation"
            v-model="newAccount.password_confirmation"
            :required="true"
          />
          <bs-button
            text="Cadastrar"
            type="submit"
            :disabled="invalid"
            :loading="loading"
          />
          <a @click="activeTab = 'login'">Voltar para login</a>
        </form>
      </validation-observer>
    </div>

    <bs-snackbar v-if="responseMessage" :text="responseMessage"></bs-snackbar>
  </div>
</template>
<script>
import BsInput from "../../components/BsInput.vue";
import BsButton from "../../components/BsButton.vue";
import BsSnackbar from "../../components/BsSnackbar.vue";
import axios from "axios";
import { ValidationObserver, extend } from "vee-validate";
import localforage from "localforage";

export default {
  name: "LoginPage",
  components: {
    BsInput,
    BsButton,
    ValidationObserver,
    BsSnackbar
  },
  async beforeRouteEnter(to, from, next) {
    if (await localforage.getItem("token")) next("/home");
    else next();
  },
  data() {
    return {
      login: {
        email: "",
        password: ""
      },
      newAccount: {
        name: "",
        email: "",
        password: "",
        password_confirmation: ""
      },
      loading: false,
      activeTab: "login",
      responseMessage: ""
    };
  },
  methods: {
    async handleLogin() {
      this.loading = true;
      try {
        const singinResponse = await axios.post("/signin", this.login);
        if (singinResponse.data.error) {
          this.responseMessage = singinResponse.data.response.message;
          clearSnackbar();
        } else {
          await localforage.setItem(
            "token",
            singinResponse.data.response.token
          );
          axios.defaults.headers.common["Authorization"] =
            "Bearer " + singinResponse.data.response.token;
          this.$router.push("/home");
        }
      } catch (err) {
        console.err("Erro de servidor");
      } finally {
        this.loading = false;
      }
    },
    async handleSignup() {
      this.loading = true;
      try {
        const singupResponse = await axios.post("/signup", this.newAccount);
        if (singupResponse.data.error) {
          this.responseMessage = "Erro ao cadastrar conta.";
        } else {
          this.responseMessage = singupResponse.data.response.message;
          this.activeTab = "login";
        }
        clearSnackbar();
      } catch (err) {
        console.err("Erro de servidor");
      } finally {
        this.loading = false;
      }
    },
    clearSnackbar() {
      setTimeout(() => {
        this.responseMessage = "";
      }, 3000);
    }
  }
};
</script>
